.product {
  position: relative;
  background: #f1f3f7;
  border: 0.5px solid #e61c23;
  border-radius: 5px;
  /*   min-width: 212px; */
  max-width: 23.9%;
  min-width: 23.9%;
  cursor: pointer;
}

.product>.image {
  position: relative;
  width: 100%;
  height: 174px;
}

.product>.label {
  top: 4px;
  left: 9px;
  position: absolute;
  width: 37px;
  padding: 1.3px 0;
  background: #e61c23;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
}

.product>.seller {
  background: #FFC702;
  color: #2B2A2A;
}

.content {
  height: 70px;
  padding: 8px;
}

.content>div {
  display: flex;
  align-items: center;
}

.content>div:last-child {
  gap: 0 10px;
  margin-top: 9px;
}

.content>div>h6 {
  cursor: pointer;
  width: 70%;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 10px;
  display: flex;

}

.content>div>h6>a {
  text-decoration: none;
  align-items: center;
  color: #2b2a2a;
}

.content>div>article {
  width: 60px;
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  color: #808080;
  text-align: right;
}

.bottomcontent {
  position: relative;
}

.bottomcontent::after {
  position: absolute;
  content: "";
  background-color: #808080;
  height: 30px;
  width: 0.5px;
  display: inline-block;
  right: -4.5px;
  top: 2.3px;
}

.bottomcontent>p {
  margin: 2px 0;
  font-weight: 400;
  font-size: 10px;
  color: #808080;
}

.bottomcontent+div>p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #e61c23;
  padding: 0;
  margin: 0;
}

.bottomcontent+div>p:last-child {
  color: #2b2a2a;
}

@media screen and (max-width: 900px) {
  .product {
    border-radius: 2px;
    max-width: 48.9%;
    min-width: 23.9%;
    width: 48.9%;

  }

  .content>div:last-child {
    margin-top: 0px;
  }

  .content {
    height: unset;
  }

  .bottomcontent::after {

    height: 70px;


  }

  .bottomcontent+div>p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 950px) and (min-width: 500px)  {

  .product {
    border-radius: 2px;
    max-width: 32%;
    min-width: 23.9%;
    width: 32%;

  }
  .bottomcontent::after {
    height: 34px;
  }
}