.adverts {
    margin-top: 25px;
}

.adverts>.links {
    width: 509px;
    box-sizing: border-box;
    display: flex;
    padding: 0;
    background: #F1F3F7;
    border-radius: 3px;
    justify-content: center;
    list-style: none;
    gap: 0 10px;
    padding: 5px;
    margin-left: 40px;

}

.adverts>.links>li {
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    color: #353535;
}

@media screen and (max-width: 900px) {
    .adverts>.links {
        width: 100%;
        margin-left: 0px;
        gap: 0 4px;
    }
    .adverts>.links>li {
        font-size: 10px;
    }
}

