.newAdvert {
    margin-top: 30px;
    background-color: #fff;
}

.newAdvert>div>h4 {
    font-weight: 700;
    font-size: 16px;
    color: #353535;
    margin: 10px 0 5px 15px;
    padding: 0;
}

.newAdvert form {
    padding: 22px;
    background: #F5F5F5;
    border-radius: 5px;
}

.newAdvert .elementCard {
    display: flex;
    width: 52%;
    justify-content: space-between;
}

.newAdvert .elementCard>label {
    font-weight: 500;
    font-size: 16px;
    color: #2B2A2A;
}

.newAdvert .elements {
    display: flex;
    gap: 0px 30px;
    margin-bottom: 32px;
}

.newAdvert .elements .element input[type="text"] {
    outline: none;
    border: none;
    width: 70px;
    height: 24px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 10px;
    color: #333;
}

.newAdvert .elements>.element>select,
.newAdvert .elements>.element>input.singleInput {
    width: 241px;
    height: 24px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    color: #333;
    border: none;
    outline: none;
}

.newAdvert .elements label {
    cursor: pointer;
}

.newAdvert .elements label::after {
    content: attr(title);
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    box-sizing: border-box;
    padding: 2px;
    min-width: 13px;
    min-height: 13px;
    color: rgba(0, 0, 0, 0.25);
    border: 1px solid #E61C23;
    border-radius: 1px;
}



.newAdvert .elements .element input[type="radio"] {
    display: none;
}

.newAdvert .elements input[type="radio"]:checked~label::after {
    background: #E61C23;
    color: #FFFFFF;
}

.newAdvert .elements>.element>textarea {
    outline: none;
    border: none;
    width: 400px;
    height: 170px;
    background: #FFFFFF;
    border-radius: 5px;
}

.buttonArea {
    text-align: center;
}

.buttonArea>p {
    font-weight: 400;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.25);
}

.buttonArea>p>a {
    text-decoration: none;
    color: #FFC702;
}

.buttonArea>button {
    outline: none;
    border: none;
    background: #FFC702;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
}

.content>h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2B2A2A;
    padding: 0;
    margin: 0 0 8px 0;
}

.content>p {
    line-height: 21px;
    font-weight: 400;
    font-size: 10px;
    margin: 0;
    color: rgba(0, 0, 0, 0.25);
}

.content>p>a {
    text-decoration: none;
    color: #FFC702;
}

.required {
    color: red;
    margin: 0;
    font-size: 12px;
}

.newAdvert .elements_different>.element>label::after {
    border: none;
    padding: 4px;
}

.picture {

    width: 74%;
}

.buttonPicture {
    outline: none;
    border: none;
    background: #808080;
    border-radius: 5px;
    padding: 5px 8px;
    color: white;
    cursor: pointer;
}

.picture ul {

    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 10px;
}

.picture ul>li {
    width: 60px;
    height: 60px;
}

.picture ul>li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.labelExtend label {
    font-size: 12px;
}

@media screen and (max-width: 900px) {
    .newAdvert .elementCard {
        width: 100%;
    }

    .newAdvert .elements>.element>textarea {
        width: 100%;
        background-color: #F1F3F7;
    }

    .newAdvert>div>h4 {
        text-align: center;
        font-size: 14px;
    }

    .newAdvert .elementCard>label {
        font-size: 14px;
    }

    .content>h3 {
        font-size: 14px;
    }

    .newAdvert .elements .element input[type="text"] {
        background-color: #F1F3F7;
        width: 100%;
    }

    .newAdvert form {
        padding: 8px;
        background: white;
    }

    .newAdvert .elements {
        display: flex;
        gap: 0px 9px;
        margin-bottom: 32px;
    }

    .newAdvert .elementCard>label {
        width: 63%;
    }

    .labelExtend {
        width: 115%;
    }

    .labelExtend label {
        font-size: 10px;

    }

    .wholesaleBottom {
        width: 30%;
    }

    .newAdvert .elements label::after {
        transform: translateY(2px);
    }

    .newAdvert .textareaMobile {
        display: block;
    }

    .newAdvert .textareaMobile>div>div {
        width: 100%;
    }

    .picture {

        width: 100%;
        text-align: end;
    }

    .newAdvert .elements .element input[name="name_surname"],
    .newAdvert .elements .element input[name="tel"],
    .newAdvert .elements .element input[name="email"],
    .newAdvert .elements .element input[name="advert_title"] {
        width: 220px;

    }

    .buttonArea>button {
        width: 100%;
    }

}