.emptyAdvertsMain {
    margin: 15px 39px;
    min-height: 277px;
    box-sizing: border-box;
    background: #F1F3F7;
    border-radius: 5px;
    padding-bottom: 44px;
    display: flex;
    align-items: last baseline;
    justify-content: center;
}

.emptyAdvertsMain>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emptyAdvertsMain p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #8B8787;

}